doctype html
head
    link(rel='stylesheet', href='libs.css')
    link(rel='stylesheet', href='styles.css')
    link(href='https://fonts.googleapis.com/css?family=Roboto:300,400', rel='stylesheet', type='text/css')
body
    .page-container
        ul.collapsible(data-collapsible='expandable')
            li.active
                .collapsible-header.active
                    i.mdi.mdi-pencil
                    | Customization (just mock, not working yet)
                .collapsible-body.active
                    form.center-align(action="#")
                        .row
                            .input-field.col.s6
                                input(type='text')
                                label Keywords
                                //- Switch to choose [extend | narrow] the scope
                            .input-field.col.s6
                                select
                                    //- tag input
                                    option(value='', selected='') Choose categories
                                    option Software Development
                                    option IT Ops
                                    option Creative Professional
                                    option Data Professional
                                    option Architecture & Construction
                                    option Manufacturing & Design
                                    option Business Professional
                                    option Information & Cyber Security
                                label Categories
                        .row
                            .input-field.col.s6
                                select
                                    option(value='', selected='') Choose skill level
                                    option Beginner
                                    option Intermediate
                                    option Advanced
                                label Minimum skill level

                        .row
                            .range-field
                                label How many days to scan?
                                p: input(type='range', min='5', max='90', step='1', value='14')
            li
                .collapsible-header
                    i.mdi.mdi-flask
                    | Experimental features
                    .switch.section-switch
                        label
                            input(disabled='', type='checkbox')
                            span.lever

                .collapsible-body
                    form(action="#")
                        p
                            label
                                input(type='checkbox', disabled='disabled')
                                span Notifications (comming soon)

        .center-align
            button.save-options.waves-effect.waves-light.light-blue.darken-1.btn Save

    script(src='libs.js')
    script(src='scripts.js')
