<template lang="pug">
.right-align
  button.waves-effect.waves-light.btn.mr(title='Go to Pluralsight', @click='openPluralsight') See all
  button.waves-effect.waves-light.btn(title='Go to Options', @click='openOptions') Options
</template>

<script>
const open = (url) => {
  chrome.tabs.create({ url, active: true });
  window.close();
}

export default {
  methods: {
    openOptions() {
      open('options/options.html')
    },
    openPluralsight() {
      open('https://www.pluralsight.com/search?categories=course&q=software development&sort=displayDate') // with search parameters
    }
  }
}
</script>

<style scoped>
.btn {
    background-color: transparent;
    border: 1px solid white;
    min-width: 120px;
    border-radius: 2px;
    font-family: 'Roboto Medium', 'Segoe UI', sans-serif;
}
.btn:hover {
    background: #363636;
}
.mr {
  margin-right: 4px;
}
</style>
