<template lang="pug">
.courses(v-if='items.length')
  .search-result(v-for='r in items', :key='r.prodId')
    .search-result__new(v-if='isNew(r)') NEW
    .search-result__icon
      a(:href='playUrl(r.prodId)', @click='openLink($event)')
        img.circle(src='../../images/video-play-32-w.png')
    .search-result__info
      .search-result__title(:title='r.title')
        a(:href='courseUrl(r.prodId)', @click='openLink($event)') {{ r.title }}
      .search-result__details
        .search-result__author by {{ r.authors }}
        .search-result__level {{ r.skillLevels }}
        .search-result__date {{ formatDate(r.displayDate) }}
        .search-result__length.show-for-large-up {{ formatDuration(r.duration) }}

//-
  description : varchar(300)
  subjects :"test-driven-development|software-practices|software-development-process"
  tools :"c#|visual-studio-code|.net-core"
</template>

<script>
import dayjs from 'dayjs'

const open = (url) => {
  chrome.tabs.create({ url, active: true });
  window.close();
}

export default {
  props: ['items'],
  methods: {
    isNew(course) {
      return this.$store.state.prevCheck
        && this.$store.state.prevCheck.ids.length > 0
        && !this.$store.state.prevCheck.ids.includes(course.prodId)
    },
    courseUrl(prodId) {
      return `https://pluralsight.com/courses/${prodId}`
    },
    playUrl(prodId) {
      return `https://app.pluralsight.com/player?course=${prodId}`
    },
    openLink({currentTarget}) {
      open(currentTarget.href)
    },
    formatDate(date) {
      return dayjs(date).format('MMM DD YYYY')
    },
    formatDuration(duration) {
      const seconds = parseFloat(/PT(.+)S/.exec(duration)[1])
      const hours = Math.floor(seconds / 60 / 60)
      const minutes = Math.floor((seconds / 60 - hours * 60))
      return `${hours}h ${minutes}m`
    }
  }
}
</script>

<style scoped>
.courses {
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

.search-result {
  padding: .75rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  display: grid;
  grid-template-columns: 55px auto;
  position: relative;
}

.search-result:hover {
  background: #363636;
}

.search-result:last-child {
  border-bottom: 0;
}

.search-result__new {
  position: absolute;
  background: #f1cc26;
  color: #222;
  right: 10px;
  top: 10px;

  padding: 4px 9px 3px;
  font-size: 13px;
  font-weight: bold;

  border-radius: 10px 0 10px;
  text-shadow: 1px 1px 0 #ffeb3b;
}

.search-result__icon {
  width: 50px;
  height: 50px;
  padding: 9px; /* 32px icon */
}

.search-result__icon a {
  opacity: .5;
}
.search-result__icon a:hover {
  opacity: 1;
}

.search-result__title {
  margin-top: 5px;
  font-size: 18px;
  font-weight: 400;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 460px;
}

.search-result__title a {
    color: #d3d3d3;
}

.search-result__title a:hover {
  text-decoration: underline;
}

.search-result__details {
  margin-top: 0;
  color: #888;
  font-size: .9em;
  display: flex;
}

.search-result__details a {
  color: #888;
}

.search-result__details > div {
  margin-right: 20px;
}

.search-result__author {
  width: 140px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.search-result__level    { width: 100px }
.search-result__date     { width: 105px }
.search-result__duration { width: 100px }
.search-result__length   { width: 100px }
.search-result__playlist { width: 130px }
</style>
