<template lang="pug">
.loader
  .ball-scale-multiple
    div
    div
</template>

<script>
export default {

}
</script>

<style scoped>

.loader {
  width: 60px;
  height: 60px;
  margin: 13px auto; /* adjust to 86px in Stats */
}

@keyframes ball-scale-multiple {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    5% {
        opacity: 1;
    }

    100% {
        transform: scale(1);
        opacity: 0;
    }
}

.ball-scale-multiple {
    position: relative;
    transform: translateX(30px);
}

.ball-scale-multiple > div:nth-child(2) {
    animation-delay: -.4s;
}

.ball-scale-multiple > div {
    border-radius: 50%;
    background: #fff;
    position: absolute;
    left: -30px;
    top: 0;
    opacity: 0;
    margin: 0;
    width: 60px;
    height: 60px;
    animation: ball-scale-multiple 1.1s 0s linear infinite;
}

</style>
