<template lang="pug">
.container
  .row: main
    Stats(:loading='loading')
    Courses(:items='courses')
  .row: .col.s12: Actions
</template>

<script>
import { post } from "axios";
import { mapGetters } from "vuex";
import Courses from "./Courses.vue";
import Actions from "./Actions.vue";
import Stats from "./Stats.vue";

export default {
  components: { Stats, Courses, Actions },
  data() {
    return {
      loading: true
    };
  },
  computed: {
    ...mapGetters(["courses"])
  },
  async mounted() {
    //async (categories, subcategories, keywords) => {
    // TODO: Caching
    const category = "software development";

    const response = await post(
      "https://api-us1.cludo.com/api/v3/10000847/10001374/search",
      {
        ResponseType: "json",
        query: category,
        facets: { categories: ["course"] },
        enableFacetFiltering: "true",
        operator: "and",
        page: 1,
        perPage: 100,
        sort: { "display-date-formatted": "desc" }
      },
      {
        headers: {
          "content-type": "application/json",
          Authorization: `SiteKey ${btoa("10000847:10001374:SearchKey")}`
        }
      }
    );

    this.loading = false;
    const courses = response.data.TypedDocuments;

    this.$store.dispatch(
      "saveCourses",
      courses.map(c => {
        return {
          prodId: c.Fields.prodId.Value,
          displayDate: c.Fields["display-date-formatted"].Value,
          title: c.Fields.Title.Value,
          skillLevels: c.Fields["Skill Levels"].Value,
          authors: c.Fields.authors.Value,
          duration: c.Fields.duration.Value
        };
      })
    );
  }
};
</script>

<style>
@import "materialize-css/dist/css/materialize.min.css";

body {
  background: #272727;
  color: #ddd;
  width: 600px;
  /* font-family: 'Roboto Medium', 'Segoe UI', sans-serif; */
  font-size: 100%;
}

.container {
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.4);
}

.row:last-child {
  margin-bottom: 0.75rem;
}

main {
  max-height: 440px;
  overflow-y: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #e1e1e1;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
::-webkit-scrollbar-thumb:active {
  background: #000000;
}
::-webkit-scrollbar-track {
  background: transparent;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: #666666;
}
::-webkit-scrollbar-track:active {
  background: #333333;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
</style>
