<template lang="pug">
.stats.center-align
  .center-align(v-if='loading')
    Loading
  .stats-cell(v-if='!loading && !firstCheck')
    strong {{ coursesSinceLastCheck }}
    span New courses
    small Since last check
  .stats-cell(v-if='!loading')
    strong {{ coursesWithinTimeRange }}
    span New courses
    small In last 14 days
  //- .stats-cell
  //-   .stats-value {{ selectedCourses }}
  //-   .stats-label Selected to watch
</template>

<script>
import Loading from './Loading.vue';
export default {
  props: ['loading'],
  components: { Loading },
  computed: {
    firstCheck () {
      return this.$store.state.prevCheck.ids.length === 0;
    },
    coursesSinceLastCheck () {
      return this.$store.state.courses
          .filter(x => !this.$store.state.prevCheck.ids.includes(x.prodId))
          .length;
    },
    coursesWithinTimeRange () {
      return this.$store.state.courses
          .filter(x => x.displayDate > this.$store.state.timeRangeLimit)
          .length;
    },
  }
}
</script>

<style scoped>
.stats {
  padding: 10px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background: #111;
}

.stats-cell {
  padding: .2rem 1rem .5rem;
  font-weight: 500;
  transition: .3s ease-out;
  background: #363636;
  color: #fff;
  width: 30%;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
}

strong {
  font-size: 2rem;
  font-weight: 100;
}

span {
  margin-top: -.5rem;
}
</style>
