.page-container {
    width: 700px;
    margin: 120px auto 0;
    font-size: 1rem;
}

body {
    font-family: 'Roboto Medium', 'Segoe UI', sans-serif;
}

.collapsible-body {
    padding: 0;
}

.collapsible-body form p {
    margin: 10px;
    padding: 0 1rem;
}
.collapsible-body form {
    padding: 10px;
    background-image: linear-gradient(135deg, rgba(0,0,0,0) 0%,rgba(0,0,0,0.05) 100%);
}

.collapsible-header i {
    margin-right: .6rem;
    line-height: 1rem;
    padding-top: 2px;
}

.collapsible-header {
    position: relative;
    overflow: hidden;
}

.section-switch {
    position: absolute;
    top: calc(1rem - 2px);
    right: 0;
}

form.center-align > .row {
    width: 80%;
    margin: 0 auto;
}

.dropdown-content li {
    clear: both;
    color: rgba(0,0,0,0.87);
    cursor: pointer;
    min-height: 30px;
    line-height: 1.5rem;

    > img {
        width: 22px;
        height: 22px;
    }

    > span {
        padding: 5px 16px;
    }
}
